

.login-btn {
  font-family: "roboBlack";
  background: #9da1a3;
  color: #4e504e;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0;
  transition: all 0.15s;
  border-radius: 2px;
  width: fit-content;
  position: relative;
  user-select: none;
  /* min-width: 250px; */
}

.login-btn:hover {
  background: #c8e6ff;
  box-shadow: 0px 6px 15px #00ffd561;
  padding-right: 2.4rem ;
  color: #4b4b4b;
}
.login-btn:hover > .button-logo {
    color: rgb(54, 54, 54);
    opacity: 1;
}

.login-btn:active {
    transform: scale(0.95);
    background: #97aec0 ;
}

.button-logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.25s;
    transform: translate(-50%, -50%);
}

.button-logo svg {
    width: 1000px;
}

/* ! SOMEWHERE */

.clear-btn {
  font-family: "roboBlack";
  background: #9da1a3;
  color: #4e504e;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0;
  transition: all 0.15s;;
  border-radius: 2px;
  width: fit-content;
  position: relative;
  user-select: none;
  /* min-width: 250px; */
}

.clear-btn:hover {
  background: #fc6a6a;
  box-shadow: 0px 6px 15px #ff898961;
  padding-right: 2.4rem ;
  color: #4b4b4b;
}
.clear-btn:hover > .button-logo {
    color: rgb(54, 54, 54);
    opacity: 1;
}

.clear-btn:active {
    transform: scale(0.95);
    background: #97aec0 ;
}